.fullscreen {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
}

.initializeContent {
  color: #fff;
}

:global(.pacman-progress) {
	bottom: auto;
	position: relative;
	top: 25px;
}
